<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners </title>
</head>
<body>
<!--/*thymesvar id="owner" type="com.n3o.springpetclinic.model.Owner"*/-->
<h1 th:text="'List of Owners'" >List Of Owners</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner:${owners}">
        <th th:text="${owner.id}">1</th>
        <th th:text="${owner.firstName}">Nilesh</th>
        <th th:text="${owner.lastName}">Choudhary</th>
    </tr>
    </tbody>
</table>
</body>
</html>